<!DOCTYPE html>

<html
  id="html"
  th:lang="${lang}"
  translate="no"
  xmlns:th="http://www.thymeleaf.org"
>
<head>
  <title>Home</title>

  <meta th:replace="~{pieces/meta}">

  <favicon th:replace="~{pieces/favicon}"></favicon>

  <link rel="stylesheet" th:href="@{https://use.typekit.net/yym2vzw.css}">
  <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">

  <!--  Todo: colocar aqui el enlace a lo construido css  -->
  <link rel="stylesheet" href="/assets/index.b94f9729.css">

  <!--link rel="stylesheet" th:href="@{https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css}"-->

  <!-- TODO: Este es el espacio para la importacion del style - link -->

</head>

<body>
<div id="app"></div>

<script type="importmap">
		{
			"imports": {
				"engine": "/js/engine.js"
			}
		}
</script>

<!-- TODO: Mas adelante habilitar este link en caso de que empiece a fallar-->
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<!--script src="/js/libs/http_unpkg.com_material-components-web@latest_dist_material-components-web.js"></script-->
<script src="/js/libs/jquery-3.6.1.min.js"></script>


<!--  Todo: colocar aqui el enlace a lo construido js  -->
<script type="module" crossorigin src="/assets/index.f24ae26e.js"></script>


<!--script type="module" th:src="@{http://localhost:5173/src/main.js}"></script-->

<!-- TODO: espacio para poner el recurso del script, hay que comentar el de arriba y comentar el de abajo y reemplazarlo -->
<!--script-- type="module" crossorigin src="/assets/index.ac33475c.js"></script-->

<!-- script type="importmap">
{
"imports": {
"engine": "<%=raiz %>/src/js/engine.js",
"jquery": "<%=raiz %>/mods/jquery/dist/jquery.js",
"vue": "<%=raiz %>/mods/vue/dist/vue.esm-browser.js",
"MCU": "<%=raiz %>/mods/@material/material-color-utilities/dist/index.js",
"lottie": "<%=raiz %>/mods/lottie-web/build/player/lottie.js",
"vue-lottie": "<%=raiz %>/mods/vue-lottie/dist/build.js"
}
}
</script -->


</body>
</html>