<meta content="text/html" charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

<meta name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1" />

<meta name="author" content="Javier Vergara">
<meta name="description" content="---pendiente---" />
<meta name="keywords"
      content="diseño, diseñador, javier, vergara, página, personal, design, designer, web, page, own" />


<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<meta name="twitter:card" content="sumary_large_image">
<meta name="twitter:site" content="<%= page_name %>">
<meta name="twitter:url" content="<?php echo DOMINIO.$__PATH_IN__ ?>">
<meta name="twitter:title" content="<%= idioma_page_title %>">
<meta name="twitter:description" content="---pendiente---">
<meta name="twitter:image" content="---pendiente---">

<meta property="og:title" content="<%= idioma_page_title %>" />
<meta property="og:type" content="website" />
<meta property="og:image"
      content="<%=raiz %>/src/img/png/og_images/<%=idioma %>_img1.png" />
<meta property="og:url" content="---pendiente---" />
<meta property="og:description" content="--pendiente--" />
<meta property="og:site_name" content="<%= page_name %>" />
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="3800px">
<meta property="og:image:height" content="2000px">